/* universal selector that targets all elements on the webpage */
*{ 
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    /* This property changes the box model used to calculate the width and height
     of elements. When set to border-box, the width and height properties include
    the padding and border, but not the margin. */
}

body{
    height: 100%;
    background-color:coral;
}

img{
    /* width:10%;
    height:10%; */
}

.container{
    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-row-gap: 5px;
    grid-column-gap: 15px;
    justify-content: center;
    /* align-items: center; */

    /* adding depth for flipping */
    perspective: 1000px;
}
.memory-card {
    position: relative;
    width: 120x;
    height: 150px;
    
    
    /* adding depth for flipping */
    transform-style: preserve-3d;
    transition: transform 0.5s;
} 
.front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;

    /* for flipping */
    backface-visibility: hidden;
}

.memory-card:active{
    transform: scale(0.70);
    transition: transform 2s; /* Corrected transition property */
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face{
    /* for flippping */
    transform: rotateY(180deg);
}


h1 {    
    color: white; 
    text-align: center; 
    margin: 20px; 
}

button{
    background-color: transparent;
    border: 1px solid wheat;
    color: white; 
    padding: 15px 32px; 
    font-size: 16px; 
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* finishing game modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
  }