/* universal selector that targets all elements on the webpage */
*{ 
    padding: 0%;
    margin:0%;
    box-sizing: border-box;
    /* This property changes the box model used to calculate the width and height
     of elements. When set to border-box, the width and height properties include
    the padding and border, but not the margin. */
}
body{
    height: 100%;
    background-color:coral;
}
img{
    /* width:10%;
    height:10%; */
}
.container{
    
    display: grid;
    grid-template-columns: 155px 155px 155px 155px;
    grid-row-gap: 5px;
    grid-column-gap: 15px;
    justify-content: center;
    /* align-items: center; */

    /* adding depth for flipping */
    perspective: 1000px;
}
.memory-card {
    position: relative;
    width: 150px;
    height: 200px;
    
    /* adding depth for flipping */
    transform-style: preserve-3d;
    transition: transform.5s;
} 
.front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;

    /* for flipping */
    backface-visibility: hidden;
}

.memory-card:active{
    transform: scale(0.70);
    transition: transform 2s; /* Corrected transition property */
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face{
    /* for flippping */
    transform: rotateY(180deg);
}
